#debug-bar-console-wrap,
#debug-bar-console-output {
	border: 1px solid #ccc;
	position: absolute;
	top: 10px;
	bottom: 10px;
}

#debug-bar-console-output {
	right: 10px;
	left: 50%;
	margin-left: 10px;
	overflow: hidden;
}

#debug-bar-console-output iframe {
	width: 100%;
	height: 100%;
	float: left;
}

#debug-bar-console-wrap {
	padding: 5px;
	left: 10px;
	right: 50%;
	margin-right: 10px;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
}

#debug-bar-console-input,
#debug-bar-console-output {
	font-family: Consolas, Monaco, Courier, monospace;
}

#debug-bar-console-input {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: transparent;
	border: 0;
	font-family: Consolas, Monaco, Courier, monospace;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

#querylist #debug-bar-console-submit {
	position: absolute;
	bottom: 10px;
	right: 50%;
	margin-right: 10px;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 10px;
	color: #555 !important;
	text-decoration: none !important;
	background: #d9d9d9; /* fallback color */
	background:-moz-linear-gradient(bottom,  #d7d7d7,  #e4e4e4);
	background:-webkit-gradient(linear, left bottom, left top, from(#d7d7d7), to(#e4e4e4));
	text-shadow: 0 1px 0 #f4f4f4;
}
#querylist #debug-bar-console-submit:hover {
	background: #e4e4e4; /* fallback color */
	background:-moz-linear-gradient(bottom,  #e4e4e4,  #d7d7d7);
	background:-webkit-gradient(linear, left bottom, left top, from(#e4e4e4), to(#d7d7d7));
}