html, body { padding: 10px; background: #666; font-family: "Myriad", "Myriad Pro" }
ul { margin: 0; padding: 0; list-style: none; }

h1 { font-size: 14px; color: rgba(255,255,255,.7) }

ul.stack { background: #f7f7f7; border-radius: 5px; border: 2px solid lightblue; box-shadow: 0 0 10px rgba(0,0,0,.2); margin: 0 0 30px; padding: 5px; }
ul.stack li li {  padding: 7px 3px; background: rgba(100,100,100,.1); clear: both; overflow: hidden; border: 1px solid #ccc; }
ul.stack li h2 { margin: 0; font-size: 13px; float: left; color: #444; }
ul.stack li .memory-usage { float: right; font-size: 11px; line-height: 16px; display: block; width: 100px; color: #444; }
ul.stack li .query_time { float: right; font-size: 11px; line-height: 16px; display: block; width: 50px; color: #444; text-align: right; margin-right: 5px; }
ul.stack li .query_num { float: right; font-size: 11px; line-height: 16px; display: block; width: 30px; color: #888; font-weight: bold; }

ul.stack li ul { margin-left: 10px; background: rgba(0,0,0,.1); }
