/**
 * Admin bar styling
 */

#wpadminbar #wp-admin-bar-debug-bar {
	float: right;
}

#wpadminbar #wp-admin-bar-debug-bar.active {
	background: #555;
	background: -moz-linear-gradient(bottom,  #555,  #3e3e3e);
	background: -webkit-gradient(linear, left bottom, left top, from(#555), to(#3e3e3e));
}

#wpadminbar #wp-admin-bar-debug-bar.debug-bar-php-warning-summary {
	background-color: #f44;
	background-image: -moz-linear-gradient(bottom, #d00, #f44);
	background-image: -webkit-gradient(linear, left bottom, left top, from(#d00), to(#f44));
}
#wpadminbar #wp-admin-bar-debug-bar.debug-bar-php-warning-summary:hover,
#wpadminbar #wp-admin-bar-debug-bar.debug-bar-php-warning-summary.active {
	background-color: #d00;
	background-image: -moz-linear-gradient(bottom, #f44, #d00 );
	background-image: -webkit-gradient(linear, left bottom, left top, from(#f44), to(#d00));
}
#wpadminbar #wp-admin-bar-debug-bar.debug-bar-php-warning-summary a {
	color: #fff;
	text-shadow: 0 -1px 0 #700;
}

#wpadminbar #wp-admin-bar-debug-bar.debug-bar-php-notice-summary {
	background-color: #ff8922;
	background-image: -moz-linear-gradient(bottom, #ee6f00, #ff8922);
	background-image: -webkit-gradient(linear, left bottom, left top, from(#ee6f00), to(#ff8922));
}
#wpadminbar #wp-admin-bar-debug-bar.debug-bar-php-notice-summary:hover,
#wpadminbar #wp-admin-bar-debug-bar.debug-bar-php-notice-summary.active {
	background-color: #ee6f00;
	background-image: -moz-linear-gradient(bottom, #ff8922, #ee6f00 );
	background-image: -webkit-gradient(linear, left bottom, left top, from(#ff8922), to(#ee6f00));
}
#wpadminbar #wp-admin-bar-debug-bar.debug-bar-php-notice-summary a {
	color: #fff;
	text-shadow: 0 -1px 0 #884000;
}

/**
 * Debug bar styling
 */

#querylist {
	font-family: Arial, Tahoma, sans-serif;
	display: none;
	position: fixed;
	height: 250px;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 99999;
	color: #000;
	line-height: 150% !important;
	text-align: left;
}
#querylist.db-dockable-disabled {
	height: auto;
	top: 28px;
}

#debug-bar-handle {
	border-color: #c6c6c6;
	border-style: solid;
	border-width: 1px 0;
	height: 2px;
	background: #fff;
	cursor: n-resize;
}

.db-dockable-disabled #debug-bar-handle {
	cursor: inherit;
	height: 1px;
	border-top: 0;
}

#debug-bar-menu {
	background: #d9d9d9; /* fallback color */
	background:-moz-linear-gradient(bottom,  #d7d7d7,  #e4e4e4);
	background:-webkit-gradient(linear, left bottom, left top, from(#d7d7d7), to(#e4e4e4));
	overflow: hidden;
	height: 24px;
	text-shadow: 0 1px 0 #f4f4f4;
}
#debug-bar-menu-right {
	float: right;
}

#debug-status {
	float: left;
	text-align: right;
	padding-top: 4px;
	padding-right: 15px;
	color: #bbb;
}
#debug-status .debug-status-title {
	color: #999;
}
#debug-status .debug-status-data {
	color: #999;
	font-weight: bold;
}
#debug-status #debug-status-warning {
	font-weight: bold;
	color: red;
}
#debug-status #debug-status-site {
	font-weight: bold;
}

#querylist pre {
	font-size: 12px;
	padding: 10px;
}

#querylist .left {
	float: left;
}

#querylist .right {
	float: right;
}

#querylist h1, #querylist h2, #querylist h3 {
	font-weight: normal;
}

#debug-menu-links {
	clear: left;
	padding: 3px 15px 0;
	overflow: hidden;
	list-style: none;
	margin: 0;
}

#debug-menu-links li {
	float: left;
	margin-right: 10px;
	margin-bottom: 0 !important;
}

#debug-menu-links li a {
	outline: none;
	display: block;
	line-height: 16px;
	padding: 2px 9px 3px;
	margin-right: 0;
	color: #777 !important;
	text-decoration: none !important;
	font-weight: bold !important;
	font-size: 12px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
}

#debug-menu-links li a:hover {
	color: #555 !important;
	background-color: #eee;
	background-image: -moz-linear-gradient(bottom, #ddd, #eee);
	background-image: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(#eee));
}
#debug-menu-links li a.current {
	background: #fff;
	color: #222 !important;
}

#querylist h2 {
	float: left;
	min-width: 150px;
	border: 1px solid #eee;
	padding: 5px 10px 15px;
	clear: none;
	text-align: center;
	font-family: georgia, times, serif;
	font-size: 28px;
	margin: 15px 10px 15px 0 !important;
}

#querylist h2 span {
	font-size: 12px;
	color: #888;
	text-transform: uppercase;
	white-space: nowrap;
	display: block;
	margin-bottom: 5px;
}

#object-cache-stats h2 {
	border: none;
	float: none;
	text-align: left;
	font-size: 22px;
	margin-bottom: 0;
}

#querylist h3 {
	margin-bottom: 15px;
}

#querylist ol.wpd-queries {
	padding: 0 !important;
	margin: 0 !important;
	list-style: none;
	clear: left;
}

#querylist ol.wpd-queries li {
	padding: 10px;
	background: #f0f0f0;
	margin: 0 0 10px 0;
}

#querylist ol.wpd-queries li div.qdebug {
	background: #e8e8e8;
	margin: 10px -10px -10px -10px;
	padding: 5px 150px 5px 5px;
	font-size: 11px;
	position: relative;
	min-height: 20px;
}

#querylist ol.wpd-queries li div.qdebug span {
	position: absolute;
	right: 10px;
	top: 5px;
	white-space: nowrap;
}

#querylist a {
	text-decoration: underline !important;
	color: blue !important;
}

#querylist a:hover {
	text-decoration: none !important;
}

#debug-menu-targets {
	overflow: auto;
	position: absolute;
	top: 28px;
	left: 0;
	right: 0;
	bottom: 0;
}

#querylist .debug-menu-target {
	margin: 10px;
	display: none;
}

#querylist ol {
	font: 12px Monaco, "Courier New", Courier, Fixed !important;
	line-height: 180% !important;
}

#debug-bar-php ol.debug-bar-php-list {
	padding: 0 !important;
	margin: 0 !important;
	list-style: none;
	clear: left;
}

#debug-bar-php ol.debug-bar-php-list li {
	padding: 10px;
	margin: 0 0 10px 0;
}

#debug-bar-php .debug-bar-php-warning {
	background-color: #ffebe8;
	border: 1px solid #c00;
}

#debug-bar-php .debug-bar-php-notice {
	background-color: #ffffe0;
	border: 1px solid #e6db55;
}

#debug-bar-deprecated ol.debug-bar-deprecated-list {
	padding: 0 !important;
	margin: 0 !important;
	list-style: none;
	clear: left;
}

#debug-bar-deprecated ol.debug-bar-deprecated-list li {
	padding: 10px;
	margin: 0 0 10px 0;
	background: #f0f0f0;
}

#debug-bar-wp-query ol.debug-bar-wp-query-list {
	padding: 0 !important;
	margin: 0 !important;
	list-style: none;
	clear: left;
}

#debug-bar-wp-query ol.debug-bar-wp-query-list li, #debug-bar-wp-query p, #debug-bar-request p {
	padding: 10px;
	margin: 0 0 10px 0;
	background: #f0f0f0;
}

#debug-bar-wp-query ol.debug-bar-wp-query-list li ol {
	padding: 0 !important;
	margin: 0 !important;
	list-style: none;
	clear: left;
}

#debug-bar-wp-query h3, #debug-bar-request h3 {
	float: none;
	clear: both;
	font-family: georgia, times, serif;
	font-size: 22px;
	margin: 15px 10px 15px 0 !important;
}

#debug-bar-actions {
	float: left;
	margin-top: 5px;
	margin-right: 5px;
}
#debug-bar-actions span {
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	display: block;
	float: left;
	font-size: 18px;
	height: 12px;
	line-height: 10px;
	width: 12px;
	color: #eee;
	background: #aaa;
	background: -moz-linear-gradient(bottom,  #999,  #bbb);
	background: -webkit-gradient(linear, left bottom, left top, from(#999), to(#bbb));
	text-shadow: 0 1px 0 #999;
	border: 1px solid #999;
	text-align: center;
	cursor: pointer;
}
#debug-bar-actions span.minus {
	line-height: 10px;
	font-size: 14px;
}
#debug-bar-actions span:hover {
	background: #888;
	background: -moz-linear-gradient(bottom,  #999,  #777);
	background: -webkit-gradient(linear, left bottom, left top, from(#999), to(#777));
	border: 1px solid #777;
	text-shadow: 0 1px 0 #777;
}